body{
    font-family: 'Roboto', sans-serif;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style: none; /* no bullet points */
    margin: 0;
    padding: 0;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

/* every second li */
li:nth-child(2n){
    background-color: #f7f7f7;
}

span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px; /* space between trash and list item */
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear; /* easing/moves at constant speed */
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

/* Our input width extends beyond end of the div and the remaining boxes.
box-sizing controls how the box is sized in the box model.
So box-border doesn't include margin which reduces and keeps 
the input box in same size as other elements. */
input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #2980b9;
    outline: none;
    border-width: 0px;
    
}

input:focus{
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;
}

#container{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
}

.fa-plus{
    float: right;
}

.completed{
    color: grey;
    text-decoration: line-through;
}